@import "tailwindcss";
@import "tailwindcss-intersect";

@font-face {
  font-family: 'Merriweather Sans Regular';
  src: url('/fonts/MerriweatherSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather Sans Light';
  src: url('/fonts/MerriweatherSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather Sans Italic';
  src: url('/fonts/MerriweatherSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather Sans Bold';
  src: url('/fonts/MerriweatherSans-Bold.ttf') format('truetype');
}

@theme {
  /* Typografi */
--font-regular: 'Merriweather Sans Regular', sans-serif;
--font-italic: 'Merriweather Sans Italic', sans-serif;
--font-light: 'Merriweather Sans Light', sans-serif;
--font-bold: 'Merriweather Sans Bold', sans-serif;

  /* Størrelser */
  --text-40: 40px;
  --text-32: 32px;
  --text-24: 24px;
  --text-20: 20px;
  --text-16: 16px;
  --text-14: 14px;


  /* Farver */
  --color-orange: #ffac3f;
  --color-peach: #fbe4c7;
  --text-color-brown: #352B29;
  --text-color-btn: #FCFCF4;

}

@layer base {
   @media (min-width: 1024px){
     .h1-forside {
       font-size: var(--text-32);
       font-family: var(--font-bold);
       color: var(--text-color-brown);
      }
      
      .h1-liste-single {
        font-size: var(--text-40);
        font-family: var(--font-regular);
        color: var(--text-color-brown);  
      }
      
      h2 {
        font-size: var(--text-20);
        font-family: var(--font-bold);  
        color: var(--text-color-brown);
      }
      
      .p-forside {
        font-size: var(--text-20);
        font-family: var(--font-italic);
        color: var(--text-color-brown);
      }
      
      .p-minutter {
        font-size: var(--text-16);    
        font-family: var(--font-light);
        color: var(--text-color-brown);
      }
      
      .knap-logind {
        font-size: var(--text-20);    
        font-family: var(--font-regular);
        color: var(--text-color-btn);
      }
      
      .knap-kortfilm {
        font-size: var(--text-20);    
        font-family: var(--font-bold);
        color: var(--text-color-btn);
      }
    }
      

  @media (min-width: 768px) {
  .h1-forside {
    font-size: var(--text-24);
  }

  .h1-liste-single {
    font-size: var(--text-24);
  }

  h2{
    font-size: var(--text-14);
  }

  .p-minutter{
    font-size: var(--text-14);
  }
  


  }
}

@layer components {
}
@layer utilities {
}
