---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import "../styles/tailwind.css";
---

<div class="bg-[url(baggrund-mo.png)] md:bg-[url(baggrund-desk.png)] bg-fixed">
  <MainLayout title="Listeview">
    <h1 class="h1-liste-single mx-11 mt-40 pb-5">Anbefalet til dig</h1>
    <div class="bg-peach rounded-2xl mx-11">
      <div class="grid grid-cols-[repeat(auto-fill,minmax(400px,1fr))]">
        <Card title="Lillefinger - Hindbærret" text="5 min" image="img1.png" />

        <Card title="Den lille fugl og egernet" text="4 min" image="img2.png" />

        <Card
          title="Rita og Krokodille: Halloween"
          text="5 min"
          image="img3.png"
        />

        <Card title="Rokketanden" text="5 min" image="img10.png" />

        <Card title="Lille Frø" text="5 min" image="img19.png" />

        <Card title="Astons sten" text="9 min" image="img15.png" />
      </div>

      <h2 class="text-center cursor-pointer py-4 md:py-6 md:grid-cols-subgrid">
        Se alle &#8594;
      </h2>
    </div>

    <h1 class="h1-liste-single mx-11 pt-4 mt-40 pb-5">De smås favoritter</h1>
    <div class="bg-peach rounded-2xl mx-11">
      <div class="grid grid-cols-[repeat(auto-fill,minmax(400px,1fr))]">
        <Card title="Den kæmpestore gulerod" text="5 min" image="img4.png" />

        <Card title="Løven og musen" text="2 min" image="img5.png" />

        <Card title="De små vilde: efterår" text="13 min" image="img6.png" />

        <Card
          title="Vitello tigger en masse slik"
          text="7 min"
          image="img7.png"
        />

        <Card title="Lygtefisk" text="3 min" image="img8.png" />

        <Card title="Prik og Plet farer vild" text="7 min" image="img9.png" />
      </div>

      <h2 class="text-center cursor-pointer py-4 md:py-6">Se alle &#8594;</h2>
    </div>

    <h1 class="h1-liste-single mx-11 pt-4 mt-40 pb-5">Se videre</h1>
    <div class="bg-peach rounded-2xl mx-11">
      <div class="grid grid-cols-[repeat(auto-fill,minmax(400px,1fr))]">
        <Card title="Rokketanden" text="5 min" image="img10.png" />

        <Card title="Næsehornsdans" text="3 min" image="img11.png" />

        <Card title="Den kæmpestore gulerod" text="5 min" image="img4.png" />
      </div>

      <h2 class="text-center cursor-pointer py-4 md:py-6">Se alle &#8594;</h2>
    </div>

    <h1 class="h1-liste-single mx-11 pt-4 mt-40 pb-5">Andre ser lige nu</h1>
    <div class="bg-peach rounded-2xl mx-11 mb-70">
      <div class="grid grid-cols-[repeat(auto-fill,minmax(400px,1fr))]">
        <Card title="Lille Frø" text="5 min" image="img19.png" />

        <Card title="Den sidste efterårsdag" text="7 min" image="img14.png" />

        <Card title="Astons sten" text="9 min" image="img15.png" />

        <Card title="Prik og Plet farer vild" text="7 min" image="img9.png" />

        <Card title="November" text="4 min" image="img17.png" />

        <Card title="Ballerina" text="11 min" image="img18.png" />
      </div>

      <h2 class="text-center cursor-pointer py-4 md:py-6">Se alle &#8594;</h2>
    </div>
  </MainLayout>
</div>
