---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
---

<div class="bg-[url(baggrund-mo.png)] md:bg-[url(baggrund-desk.png)] bg-fixed">
  <MainLayout>
    <section>
      <div
        class="relative bg-peach rounded-2xl p-4 mx-2 flex place-content-center md:justify-start"
      >
        <div class="card relative">
          <img
            src="play-btn.png"
            alt="Play knap"
            class="absolute top-2/5 left-1/2 -translate-x-1/2 -translate-y-1/2 w-20 md:w-30 cursor-pointer"
          />
          <img
            src="img1.png"
            alt="lillefinger"
            class="rounded-3xl w-110 md:w-220"
          />
          <h2>Lillefinger - Hindbærret</h2>
          <div class="flex flex-row">
            <img src="time.png" alt="Ur" />
            <p>5 min</p>
          </div>
        </div>
      </div>

      <h2 class="mx-2">Kortfilm i samme genre</h2>
      <div
        class="bg-peach rounded-2xl mx-2 mb-20 grid grid-cols-[repeat(auto-fit,minmax(400px,1fr))]"
      >
        <Card title="Den kæmpestore gulerod" text="5 min" image="img4.png" />

        <Card title="Løven og musen" text="2 min" image="img5.png" />

        <Card title="De små vilde: efterår" text="13 min" image="img6.png" />

        <p class="text-center cursor-pointer py-4">Se alle &#8594;</p>
      </div>
    </section>
  </MainLayout>
</div>
