---
const { title, text, image } = Astro.props;
---

<section class="flex place-content-center">
  <a href="/singleview">
    <div class="card relative p-4">
      <img
        src="play-btn.png"
        alt="Play knap"
        class="absolute top-6 right-6 w-12"
      />
      <img src={image} alt={title} class="rounded-3xl w-110" />
      <h2>{title}</h2>
      <div class="flex flex-row gap-3">
        <img src="ur.svg" alt="Ur" />
        <p class="p-minutter">{text}</p>
      </div>
    </div>
  </a>
</section>
