---

---

<div
  class="bg-[url(/footer-bg.png)] p-2 pt-20 pb-30 md:p-6 md:flex md:flex-row md:gap-30 lg:gap-56"
>
  <img src="/footer-logo.png" alt="Logo" class="w-40 h-40 pb-20" />

  <ul class="underline pb-20">
    <li>Om Børnebiffen</li>
    <li>Tilgængelighedserklæring</li>
    <li>Cookies</li><li>Privatlivspolitik</li><li>Kontakt os</li>
    <li><a href="komponentbibliotek">Komponent bibliotek</a></li>
  </ul>
  <p>
    DBC DIGITAL A/S <br />
    Tempovej 7-11 <br />
    2750 Ballerup
  </p>
</div>
